html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: Microsoft YaHei;

}

.overflowHidden{
  height: 100%;
  overflow: hidden;
}

@font-face {
  font-family: 'Microsoft Yahei', \5FAE\8F6F\96C5\9ED1, '宋体', \5b8b\4f53, arial, 'Hiragino Sans GB', Tahoma, Arial, Helvetica;
}

body {
  line-height: 1;
  overflow-x: hidden;
  //background-color: #FFFFFF;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

/* remember to define focus styles! */
:focus {
  outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

a {
  text-decoration: none;
  color: inherit;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.clearFix:after {
  content: '';
  display: block;
  clear: both;
}

@mixin flex {
  display: flex;
  display: -webkit-flex;
}

@mixin background_img($img) {
  background: url($img) no-repeat;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}


@mixin linear($f,$s) {
  background: -webkit-linear-gradient(bottom, $f, $s);
  background: -o-linear-gradient(bottom, $f, $s);
  background: -moz-linear-gradient(bottom, $f, $s);
  background: linear-gradient(to bottom, $f, $s);
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: rgb(239,241,248);
  opacity: 1;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: rgb(239,241,248);
  opacity: 1;
}

input:-ms-input-placeholder {
  color: rgb(239,241,248);
  opacity: 1;
}

input::-webkit-input-placeholder {
  color: rgb(239,241,248);
  opacity: 1;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type="number"]{
  -moz-appearance: textfield;
}

input[type=date]::-webkit-inner-spin-button {
  visibility: hidden;
}
input[type="date"]::-webkit-clear-button{
  display:none;
}



::-webkit-datetime-edit { padding: 1px;}
::-webkit-datetime-edit-fields-wrapper { background-color: #fff; }
::-webkit-datetime-edit-text { color: #333;}
::-webkit-datetime-edit-year-field { color: #333; }
::-webkit-datetime-edit-month-field { color: #333; }
::-webkit-datetime-edit-day-field { color: #333; }
::-webkit-inner-spin-button { visibility: hidden; }
::-webkit-calendar-picker-indicator {
  border: 1px solid #ccc;
  border-radius: 2px;
  box-shadow: inset 0 1px #fff, 0 1px #eee;
  background-color: #eee;
  background-image: -webkit-linear-gradient(top, #f0f0f0, #e6e6e6);
  color: #666;
}
::-webkit-clear-button {
}


@mixin flex {
  display: -webkit-flex;
  display: flex;
}

@mixin border_radius($n) {
  -webkit-border-radius: $n;
  -moz-border-radius: $n;
  border-radius: $n;
}
