@import "rest";

#staffDetail {
  .newsTitle {
    width: 100%;
    line-height: .42rem;
    font-size: .38rem;
    color: #101010;
    text-overflow : ellipsis;
    overflow : hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  .userInfo {
    @include flex;
    justify-content: space-between;
    line-height: .45rem;
    margin-top: .3rem;
    font-size: .25rem;
    color: #959698;
    .infoLeft {
      .userPic{
        width: .9rem;
        height: .9rem;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
    .infoRight {
      width: 100%;
      @include flex;
      flex-direction: column;
      margin-left: 10px;
      .name_department {
        @include flex;
        justify-content: space-between;
        .publicationTime {
          @include flex;
          justify-content: space-between;
          .titles {
            color: #39b1ff;
          }
          .newsDate {
            margin-left: .3rem;
          }
        }
      }
    }
    //.infoLeft {
    //  @include flex;
    //  justify-content: space-between;
    //  .userPic {
    //    width: .9rem;
    //    height: .9rem;
    //    img {
    //      width: 100%;
    //      height: 100%;
    //    }
    //  }
    //}
    //.name_department {
    //  //@include flex;
    //  //justify-content: space-between;
    //  color: #959698;
    //  //margin-left: .26rem;
    //  flex-shrink: 1;
    //  .department {
    //
    //  }
    //}
    //.infoRight {
    //  @include flex;
    //  justify-content: space-between;
    //  .titles {
    //    color: #39b1ff;
    //  }
    //  .newsDate {
    //    color: #959698;
    //    margin-left: .2rem;
    //  }
    //}
  }
  .newsDetail {
    font-size: .35rem;
    color: #6c6c6c;
    margin-top: .45rem;
    line-height: .5rem;
  }
  .newsPic {
    width: 100%;
    height: 3rem;
    margin: .26rem 0 .37rem 0;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .lines {
    border-bottom: .06rem solid #39b1ff;
    width: .5rem;
    margin-top: .48rem;
  }
  .readerInfo {
    @include flex;
    justify-content: space-between;
    line-height: .23rem;
    font-size: .23rem;
    color: #c8c9ca;
    border-bottom: .001rem solid #e8edfc;
    .informations {
      @include flex;
      justify-content: space-between;
      margin: .38rem 0;
      i {
        font-size: .23rem;
      }
      div {
        margin-left: .2rem;
      }
    }
  }
  .contents {
    padding: .79rem 0;
    font-size: .25rem;
    color: #6c6c6c;
    line-height: .5rem;
  }
  .commentOn {
    padding: .2rem .4rem;
    background: #F4F6FD;
    .commentFrame {
      margin-left: 1.1rem;
      .frame {
        width: 100%;
        height: 1.3rem;
        resize:none;
        border: none;
        background: #eff1f5;
        @include border_radius(.05rem);
      }
    }
    .submitButt {
      text-align: right;
      line-height: .8rem;
      .butt {
        width: 1.5rem;
        height: .6rem;
        @include border_radius(.1rem);
        border: none;
        background: #FF943E;
        color: #FFFFFF;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        font-size: .25rem;
      }
    }
    .commentdetail {
      font-size: .35rem;
      color: #6c6c6c;
      margin-left: 1.1rem;
      line-height: .5rem;
    }
  }
}
