@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: Microsoft YaHei; }

.overflowHidden {
  height: 100%;
  overflow: hidden; }

@font-face {
  font-family: 'Microsoft Yahei', \5FAE\8F6F\96C5\9ED1, '瀹嬩綋', \5b8b\4f53, arial, 'Hiragino Sans GB', Tahoma, Arial, Helvetica; }
body {
  line-height: 1;
  overflow-x: hidden; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

/* remember to define focus styles! */
:focus {
  outline: 0; }

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

a {
  text-decoration: none;
  color: inherit; }

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0; }

.clearFix:after {
  content: '';
  display: block;
  clear: both; }

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #eff1f8;
  opacity: 1; }

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #eff1f8;
  opacity: 1; }

input:-ms-input-placeholder {
  color: #eff1f8;
  opacity: 1; }

input::-webkit-input-placeholder {
  color: #eff1f8;
  opacity: 1; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none; }

input[type="number"] {
  -moz-appearance: textfield; }

input[type=date]::-webkit-inner-spin-button {
  visibility: hidden; }

input[type="date"]::-webkit-clear-button {
  display: none; }

::-webkit-datetime-edit {
  padding: 1px; }

::-webkit-datetime-edit-fields-wrapper {
  background-color: #fff; }

::-webkit-datetime-edit-text {
  color: #333; }

::-webkit-datetime-edit-year-field {
  color: #333; }

::-webkit-datetime-edit-month-field {
  color: #333; }

::-webkit-datetime-edit-day-field {
  color: #333; }

::-webkit-inner-spin-button {
  visibility: hidden; }

::-webkit-calendar-picker-indicator {
  border: 1px solid #ccc;
  border-radius: 2px;
  box-shadow: inset 0 1px #fff, 0 1px #eee;
  background-color: #eee;
  background-image: -webkit-linear-gradient(top, #f0f0f0, #e6e6e6);
  color: #666; }

#staffDetail .newsTitle {
  width: 100%;
  line-height: .42rem;
  font-size: .38rem;
  color: #101010;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical; }
#staffDetail .userInfo {
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  line-height: .45rem;
  margin-top: .3rem;
  font-size: .25rem;
  color: #959698; }
  #staffDetail .userInfo .infoLeft .userPic {
    width: .9rem;
    height: .9rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    #staffDetail .userInfo .infoLeft .userPic img {
      width: 100%;
      height: 100%; }
  #staffDetail .userInfo .infoRight {
    width: 100%;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    margin-left: 10px; }
    #staffDetail .userInfo .infoRight .name_department {
      display: -webkit-flex;
      display: flex;
      justify-content: space-between; }
      #staffDetail .userInfo .infoRight .name_department .publicationTime {
        display: -webkit-flex;
        display: flex;
        justify-content: space-between; }
        #staffDetail .userInfo .infoRight .name_department .publicationTime .titles {
          color: #39b1ff; }
        #staffDetail .userInfo .infoRight .name_department .publicationTime .newsDate {
          margin-left: .3rem; }
#staffDetail .newsDetail {
  font-size: .35rem;
  color: #6c6c6c;
  margin-top: .45rem;
  line-height: .5rem; }
#staffDetail .newsPic {
  width: 100%;
  height: 3rem;
  margin: .26rem 0 .37rem 0; }
  #staffDetail .newsPic img {
    width: 100%;
    height: 100%; }
#staffDetail .lines {
  border-bottom: .06rem solid #39b1ff;
  width: .5rem;
  margin-top: .48rem; }
#staffDetail .readerInfo {
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  line-height: .23rem;
  font-size: .23rem;
  color: #c8c9ca;
  border-bottom: .001rem solid #e8edfc; }
  #staffDetail .readerInfo .informations {
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    margin: .38rem 0; }
    #staffDetail .readerInfo .informations i {
      font-size: .23rem; }
    #staffDetail .readerInfo .informations div {
      margin-left: .2rem; }
#staffDetail .contents {
  padding: .79rem 0;
  font-size: .25rem;
  color: #6c6c6c;
  line-height: .5rem; }
#staffDetail .commentOn {
  padding: .2rem .4rem;
  background: #F4F6FD; }
  #staffDetail .commentOn .commentFrame {
    margin-left: 1.1rem; }
    #staffDetail .commentOn .commentFrame .frame {
      width: 100%;
      height: 1.3rem;
      resize: none;
      border: none;
      background: #eff1f5;
      -webkit-border-radius: 0.05rem;
      -moz-border-radius: 0.05rem;
      border-radius: 0.05rem; }
  #staffDetail .commentOn .submitButt {
    text-align: right;
    line-height: .8rem; }
    #staffDetail .commentOn .submitButt .butt {
      width: 1.5rem;
      height: .6rem;
      -webkit-border-radius: 0.1rem;
      -moz-border-radius: 0.1rem;
      border-radius: 0.1rem;
      border: none;
      background: #FF943E;
      color: #FFFFFF;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      font-size: .25rem; }
  #staffDetail .commentOn .commentdetail {
    font-size: .35rem;
    color: #6c6c6c;
    margin-left: 1.1rem;
    line-height: .5rem; }

/*# sourceMappingURL=staffdetail.css.map */
