/**
 * Created by AigLe on 2018/3/11 0011.
 */
#personalCard{
  width: 314px;
  height: 194px;
  font-size: 12px;
  /*box-sizing: border-box;*/
  z-index: 1000;
  background: url("../images/card.png");
  background-size: 100% 100%;
  display: flex;
  padding: 3px 7px 11px 7px;
}
.personalCard_right,.personalCard_left{
  height: 194px;
}
.personalCard_left{
  width: 126px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
}
.personalCard_left .header,.personalCard_left .name{
  width: 100%;
  display: flex;
  justify-content: center;
}
.personalCard_left .name{
  font-size: 16px;
  color: #FFF;
  margin-top: 10px;
}
.personalCard_left .header img{
  width: 60px;
  height: 60px;
  border-radius: 50%;

}


.personalCard_right{
  width: 188px;
  box-sizing: border-box;
  padding: 35px 0 35px 26px;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}
.personalCard_right>div{
  width: 100%;
  display: flex;
  align-content: space-between;
}
.personalCard_right>div>div:first-child{
  width: 56px;
  text-align: right;
  margin-right: 5px;
  color: #bbb;
}
