.el-dialog__wrapper .el-dialog .el-dialog__header {
  border-bottom: 1px solid #eee;
  padding: 15px; }
  .el-dialog__wrapper .el-dialog .el-dialog__header .el-dialog__title {
    color: #409EFF;
    line-height: 0;
    font-size: 16px; }
.el-dialog__wrapper .el-dialog .el-dialog__body {
  padding: 15px;
  font-size: 12px !important; }
  .el-dialog__wrapper .el-dialog .el-dialog__body .el-form .el-form-item--small.el-form-item {
    margin-bottom: 18px; }
  .el-dialog__wrapper .el-dialog .el-dialog__body .title {
    color: #409EFF;
    opacity: .7; }
    .el-dialog__wrapper .el-dialog .el-dialog__body .title:before {
      border-radius: 2px;
      margin-right: 5px;
      background: #409EFF;
      border-left: 1px solid #409EFF;
      content: '|'; }
  .el-dialog__wrapper .el-dialog .el-dialog__body .el-input, .el-dialog__wrapper .el-dialog .el-dialog__body .el-select, .el-dialog__wrapper .el-dialog .el-dialog__body .el-date-editor {
    width: 100%; }
  .el-dialog__wrapper .el-dialog .el-dialog__body .describe_border {
    padding: 15px 10px;
    border: 1px solid #dfe6fb;
    border-radius: 5px;
    margin-bottom: 15px; }
  .el-dialog__wrapper .el-dialog .el-dialog__body .form_border {
    padding: 18px 10px 0 10px;
    margin-bottom: 15px;
    border: 1px solid #dfe6fb;
    border-radius: 5px; }
  .el-dialog__wrapper .el-dialog .el-dialog__body .table_border {
    font-size: 12px;
    margin-bottom: 15px;
    border: 1px solid rgba(64, 158, 255, 0.12);
    box-shadow: 0 2px 4px 0 rgba(64, 158, 255, 0.12), 0 0 6px 0 rgba(64, 158, 255, 0.04); }

#organizationId .el-dialog__body {
  background: #F8F8F8 !important; }
#organizationId .el-dialog__footer {
  padding: 15px; }
#organizationId .el-select {
  display: block; }
  #organizationId .el-select .el-input__inner {
    border: none; }

.el-select-dropdown .el-select-dropdown__wrap {
  max-height: 410px; }

.el-table th {
  background-color: #dfe6fb !important; }

.blueTable .el-table th {
  background-color: #dfe6fb !important; }

.greenTable .el-table th {
  background-color: #d4f0de !important; }

.el-form-item__label {
  font-size: 12px !important; }

.tool {
  border-bottom: 1px solid #eee;
  display: flex;
  padding-bottom: 10px;
  justify-content: space-between; }
  .tool .tool_right {
    display: flex;
    align-items: center; }

.filter {
  padding-top: 10px; }
  .filter .el-input-group__prepend {
    background-color: #fff !important; }

#rentingDetail .el-form-item__label {
  color: #bcbcbd; }
#rentingDetail .el-step__head.is-process {
  color: #58d788;
  border-color: #58d788; }
#rentingDetail .el-step__title.is-process {
  font-weight: 700;
  color: #58d788; }
#rentingDetail .el-tabs--border-card > .el-tabs__header {
  background-color: #eef3fc;
  border-bottom: 1px solid #eef3fc; }

.expand-tree .is-current {
  overflow: hidden; }
  .expand-tree .is-current > .el-tree-node__content .tree-btn {
    display: block; }
  .expand-tree .is-current > .el-tree-node__content .tree-label {
    font-weight: 600;
    white-space: normal; }
.expand-tree .el-tree-node:hover {
  overflow: hidden; }
.expand-tree .el-tree-node__content {
  height: 30px; }
  .expand-tree .el-tree-node__content:hover .tree-btn {
    display: inline-block; }

.topTabs .btn {
  background-color: #409EFF !important;
  border-color: #409EFF !important;
  color: #FFFFFF !important;
  /*<!-- -webkit-box-shadow: 0 2px 15px 0 $color;-->*/
  /*<!-- -moz-box-shadow: 0 2px 15px 0 $color;-->*/
  /*<!--box-shadow: 0 2px 15px 0 $color;-->*/ }

.block.pages {
  display: flex;
  display: -webkit-flex;
  justify-content: flex-end;
  margin: 20px 0 10px; }

@font-face {
  font-family: Impact;
  src: url(../src/assets/font/impact-2.ttf); }
.__vev_calendar-wrapper .icon {
  color: #6a8dfb !important; }
.__vev_calendar-wrapper .events-wrapper {
  background-color: #6a8dfb !important;
  display: none; }
.__vev_calendar-wrapper .cal-wrapper .cal-header {
  color: #6a8dfb !important;
  border-bottom: 1px solid #e5e5e5;
  font-family: 'Impact', sans-serif; }
.__vev_calendar-wrapper .cal-wrapper .cal-body .weeks .item {
  color: #14e731;
  font-weight: bold; }
  .__vev_calendar-wrapper .cal-wrapper .cal-body .weeks .item:first-child, .__vev_calendar-wrapper .cal-wrapper .cal-body .weeks .item:last-child {
    color: #fb4699; }
.__vev_calendar-wrapper .cal-wrapper .cal-body .dates .item {
  cursor: pointer !important; }
  .__vev_calendar-wrapper .cal-wrapper .cal-body .dates .item:hover {
    color: #6a8dfb; }
  .__vev_calendar-wrapper .cal-wrapper .cal-body .dates .item .is-event, .__vev_calendar-wrapper .cal-wrapper .cal-body .dates .item .is-today {
    border: 1px solid #6a8dfb !important; }
  .__vev_calendar-wrapper .cal-wrapper .cal-body .dates .item .is-today {
    background-color: #6a8dfb !important; }
.__vev_calendar-wrapper .cal-wrapper .cal-body .dates .item.selected-day .is-event {
  background-color: #6a8dfb !important;
  color: #FFFFFF; }

@media screen and (min-width: 768px) {
  .__vev_calendar-wrapper .cal-wrapper {
    width: 100% !important;
    padding: 0 !important; } }
.highRanking {
  position: relative; }
  .highRanking .highSearch {
    float: right;
    height: 40px;
    box-sizing: border-box; }
  .highRanking .tabsSearch {
    position: absolute;
    top: 0;
    right: 0;
    height: 40px;
    border-bottom: 2px solid #e4e7ed;
    box-sizing: border-box;
    z-index: 10; }
  .highRanking .high_grade {
    position: absolute;
    top: 40px;
    right: 0;
    left: 0;
    padding: 0;
    background: #FFFFFF;
    -webkit-box-shadow: 0 3px 16px 0 #aaa;
    -moz-box-shadow: 0 3px 16px 0 #aaa;
    box-shadow: 0 3px 16px 0 #aaa;
    z-index: -1;
    opacity: 0;
    /*transition: all .4s;*/ }
    .highRanking .high_grade .el-form-item--mini.el-form-item, .highRanking .high_grade .el-form-item--small.el-form-item {
      margin: 0; }
    .highRanking .high_grade .filterTitle {
      padding: 8px 18px;
      border-bottom: 1px solid #DDDDDD;
      font-weight: bold; }
    .highRanking .high_grade .el-row.el_row_border {
      background: #FFFFFF;
      border-bottom: 1px solid #DDDDDD; }
      .highRanking .high_grade .el-row.el_row_border .el-row {
        display: flex;
        display: -webkit-flex;
        align-items: center; }
        .highRanking .high_grade .el-row.el_row_border .el-row .el_col_label {
          padding: 8px 30px; }
        .highRanking .high_grade .el-row.el_row_border .el-row .el_col_option {
          padding: 8px 12px;
          background-color: #f3f3f3; }
    .highRanking .high_grade .btnOperate {
      padding: 12px;
      display: flex;
      display: -webkit-flex;
      justify-content: center; }
  .highRanking .highHide {
    z-index: 20;
    opacity: 1;
    /*transition: all .4s;*/ }

/*# sourceMappingURL=reset.css.map */
