.el-dialog__wrapper{
  .el-dialog{
    .el-dialog__header{
      border-bottom: 1px solid #eee;
      padding: 15px;
      .el-dialog__title{
        color: #409EFF;
        line-height: 0;
        font-size: 16px;
      }
    }
    .el-dialog__body{
      padding: 15px;
      font-size: 12px !important;
      .el-form{
        .el-form-item--small.el-form-item {
          margin-bottom: 18px;
        }
      }
      .title{
        color: #409EFF;
        opacity: .7;
      }

      .el-input,.el-select ,.el-date-editor {
        width: 100%;
      }

      .describe_border{
        padding: 15px 10px;
        border: 1px solid #dfe6fb;
        border-radius: 5px;
        margin-bottom: 15px;
      }

      .form_border{
        padding: 18px 10px 0 10px;
        margin-bottom: 15px;
        border: 1px solid #dfe6fb;
        border-radius: 5px;
      }
      .table_border{
        font-size: 12px;
        margin-bottom: 15px;
        border: 1px solid rgba(64,158,255,.12);
        box-shadow: 0 2px 4px 0 rgba(64,158,255,.12), 0 0 6px 0 rgba(64,158,255,.04);
      }
    }
  }
}
#organizationId{
  .el-dialog__body{
    background: #F8F8F8 !important;
  }
  .el-dialog__footer{
    padding: 15px ;
  }
  .el-select {
    display: block;
    .el-input__inner {
      border: none;
    }
  }
}

.el-select-dropdown{
  .el-select-dropdown__wrap{
    max-height: 410px;
  }
}
.el-table {
  th {
    background-color: #dfe6fb !important;
  }
}
.blueTable {
  .el-table {
    th {
      background-color: #dfe6fb !important;
    }
  }
}

.greenTable {
  .el-table {
    th {
      background-color: #d4f0de !important;
    }
  }
}

.el-form-item__label{
  font-size: 12px !important;
}

.tool {
  border-bottom: 1px solid #eee;
  display: flex;
  padding-bottom: 10px;
  justify-content: space-between;
  .tool_right {
    display: flex;
    align-items: center;
  }
}
.filter {
  padding-top: 10px;
}

.block.pages {
  display: flex;
  display: -webkit-flex;
  justify-content: flex-end;
  margin: 20px 0 10px;
}


